
WIFI_SSID = '<WiFi-SSID>'
WIFI_KEY = '<WIFI-PSK>'

MQTT_HOST = '<MQTT-HOST>'
MQTT_PORT = '<MQTT-PORT>'
MQTT_SSL = '<MQTT-SSL-ENABLED>'
MQTT_CLIENT_ID = '<MQTT-CLIENT-ID>'
MQTT_USERNAME = '<MQTT-USERNAME>'
MQTT_PASSWORD = '<MQTT-PASSWORD>'